* {
    box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}
ul li {
	background-color: #fff;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
ul li:last-child {
	border-bottom: 1px solid black;
}
body > h1 {
	margin-bottom: 45px;
}
.menu-item {
	border: 1px solid black;
	background-color: #e7e7e7;
	padding: 5px 15px 15px 15px;
	margin-bottom: 30px;
}
.menu-item-title {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 1.2em;
}